<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns = "https://javax.ee/xml/ns/jakartaee"
        xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation = "https://javax.ee/xml/ns/jakartaee https://javax.ee/xml/ns/jakartaee/web-app_5_0.xsd"
        version = "5.0"
        metadata-complete = "false"
>
    <display-name>E-Student portal</display-name>
    <description>E-Student portal</description>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>  

    <!-- Servlets and Mappings -->
    <!-- IncludePage -->
    <servlet>
        <servlet-name>IncludePage</servlet-name>
        <servlet-class>org.astu.estudent.servlet.IncludePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <url-pattern>/IncludePage</url-pattern>
        <servlet-name>IncludePage</servlet-name>
    </servlet-mapping>
    <!-- Mock -->
    <servlet>
        <servlet-name>Mock</servlet-name>
        <servlet-class>org.astu.estudent.servlet.Mock</servlet-class>
    </servlet>
    <servlet-mapping>
        <url-pattern>/Mock</url-pattern>
        <servlet-name>Mock</servlet-name>
    </servlet-mapping>


</web-app>