<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns = "https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation = "https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
        version = "5.0"
        metadata-complete = "false"
>
    <display-name>E-Student portal</display-name>
    <description>E-Student portal</description>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>  

    <!-- Servlets and Mappings -->
    <!-- Index -->
    <!-- <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>org.astu.estudent.servlet.Index</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet> -->
    <!-- <servlet-mapping>
        <url-pattern>/</url-pattern>
        <servlet-name>Index</servlet-name>
    </servlet-mapping> -->

</web-app>